.content-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.type-classic {
  color: violet;
}

.type-jazz {
  color: darkgreen;
}

.no-type {
  color: gold;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}