.segment {
  border: 1px solid blue;
  width: 500px;
  border-radius: 8px;
  padding: 1rem;
}

.message {
  border: 1px solid skyblue;
  border-radius: 8px;
  padding: 5px 7px;
  width: fit-content;
  margin-bottom: 8px;
  letter-spacing: 1px;
  background-color: skyblue;
}